<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksnx3684.s1.notice.NoticeDAO">
	<select id="list" resultType="com.ksnx3684.s1.notice.NoticeDTO">
		SELECT * FROM NOTICE
	</select>
	<select id="detail" parameterType="com.ksnx3684.s1.notice.NoticeDTO" resultType="com.ksnx3684.s1.notice.NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM = #{num}
	</select>
	<insert id="add" parameterType="com.ksnx3684.s1.notice.NoticeDTO">
		INSERT INTO NOTICE(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES(NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer},TO_DATE(SYSDATE,'YYYY-MM-DD'), #{hit})
	</insert>
	<delete id="delete" parameterType="com.ksnx3684.s1.notice.NoticeDTO">
		DELETE NOTICE WHERE NUM = #{num}
	</delete>

</mapper>
